body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 40px;
}

h1 {
    color: purple;
    text-align: center;
}

.post {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post h2 {
    color: #34495e;
}

small {
    color: gray;
}
