# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Database
db.sqlite3

# VS Code
.vscode/

# Django migrations (optional — keep if team project)
# */migrations/*
# !*/migrations/__init__.py
